.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

form {
  margin: 0 !important;
}

input[readonly] {
  cursor: default !important;
}

.modal-body {
  max-height: 410px !important;
}

.required {
  color: red;
  margin: 0 5px 0 5px;
  display: inline-block;
}
body ul li span {
    padding: 10px;
}

